@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    overflow-x: hidden;
}

body{
    height: 100vh;
    width: 100%;
    background-color: black;
}

.jsscene{
    position: fixed;
    z-index: 0;
    height: 100vh;
    width: 100%;
    background-color: black;
    background-image: url('images/drink-cacti-bg-5.eeda9115.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.bubble-ad{
    position: fixed;
    z-index: 2;
    height: 18rem;
    width: auto;
    top: 0;
    transform: rotate(-10deg);
    margin: 2rem 1rem;
}

.banner {
    position: fixed;
    z-index: 3;
    height: 2.2rem;
    top: 0;
    width: 5076px;
    background-image: url('images/cactisiteticker.9ef30059.jpg');
    background-size: contain;
    background-repeat: repeat-x;
    background-color: #ffe5ce;
    animation: slide 30s linear infinite;
}

@keyframes slide {
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(-3384px, 0, 0); /* The image width */
    }
  }

.side-banner {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 20rem;
    background-color: #ffe5ce;
    display: flex;
    flex-direction: column;
    padding: 0rem 0.8rem;
    align-items: center;
}

.btn {
    position: relative;
    height: 2.2rem;
    background-color: #ec2e30;
    color: #ffe5ce;
    border: none;
    margin: 2.2rem 0 0.4rem 0;
    font-size: 1rem;
    border-radius: 2px;
    font-weight: 500;
    width: 100%;
}

.btn:hover {
    background-color: #ae1f21;
    cursor: pointer;
}

.find-buy-btns{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.find-btn {
    flex-grow: 1;
    flex-basis: 0;
    margin: 0 0.4rem 0 0;
}

.buy-btn {
    flex-grow: 1;
    flex-basis: 0;
    margin: 0 0 0 0.4rem;
}

.enter-info {
    margin: 1rem 0 0 0;
    width: 100%;
}

input, select {
    height: 2.2rem;
    width: 100%; 
    font-size: 1rem;
    color: #ffe5ce;
    background-color: #366174;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    margin: 0 0 0.4rem 0;
    padding: 0.5rem;
}

input:focus, select:focus {
    background-color: #224e61;
    border: 1px solid black;
}

::placeholder {
    color: #ffe5ce;
}

#month{
    flex: 2 1 0;
    margin: 0 0.1rem 0.4rem 0;
}

.birthday {
    display: flex;
    flex-direction: row;
}

.birthday-item {
    flex: 1 1 0;
    margin: 0 0.1rem 0.4rem 0.1rem;
}

#signup {
    overflow: hidden;
}

.logo-info {
    margin: 1rem 0;
    width: 100%;
}

.text-cans {
    margin: 1rem 0;
    width: 100%;
}

.social-img {
    height: 1.4rem;
    width: auto;
}

.socials {
    margin: 3rem 0 2rem 0;
}

.footer-nav {
    font-size: 0.66rem;
    display: inline-flex;
    flex-wrap: wrap;
}

.footer-link {
    margin: 0 0.4rem 0 0;
    color: #366174;
}

.footer-link a {
    color: #366174;
}

.fineprint {
    color: #366174;
    font-size: 0.66rem;
    line-height: 1rem;
    margin: 1rem 0 3rem 0;
}
/* in gsap you must be moving the element up on scroll and no overflow allowed? for side menu. */