* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: black;
}

.jsscene{
    position: relative;
    z-index: 0;
    height: 100vh;
    width: 100%;
    background-color: black;
    background-image: url('images/drink-cacti-bg-5.eeda9115.jpg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.bubble-ad{
    position: absolute;
    z-index: 2;
    height: 18rem;
    width: auto;
    top: 0;
    transform: rotate(-10deg);
    margin: 2rem 1rem;
}

.banner {
    position: absolute;
    z-index: 2;
    height: 2.2rem;
    top: 0;
    width: 100%;
    background-color: rgb(214, 200, 179);
}

.side-banner {
    position: absolute;
    z-index: 2;
    height: 100%;
    top: 0;
    right: 0;
    width: 20rem;
    background-color: rgb(214, 200, 179);
}